<?xml version="1.0"?>
<launch>
  <node pkg="img_encode" type="img_encode" name="img_encode" output="screen">
 	  
 	<param name="sub_image_topic" value="/camera/image_det_track" type="str" />

  <param name="width" value="640" type="int" />
  <param name="height" value="360" type="int" />
  <param name="jpeg_quality" value="80" type="int" />
    
  </node>
</launch>
